__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env
.git
.gitignore
.pytest_cache/
*.log
*.sqlite
.DS_Store
.idea/
.vscode/
README.md
API_README.md
KOYEB_DEPLOYMENT.md
Transaction_Handling.drawio
Transaction_Handling.jpg
user_authentication.drawio
user_authentication.jpg
docker-compose.yml
tests/
assets/